<br>
<h4>Informações sobre a nossa instituição:</h4>
<div id="corpo">
  <div id="container">

    <div>
      <img src="/assets/biblioteca.jpg">
    </div>
    <div>
      <h5>Biblioteca</h5>
    </div>
    <div>
      <p>Nossa instituição conta com uma ampla biblioteca, aberta ao público em geral necessitando apenas de um documento com foto para ingressar.</p>
    </div>
  </div>
  <div id="container">

    <div>
      <img src="/assets/restaurante.jpg">
    </div>
    <div>
      <h5>Restaurante</h5>
    </div>
    <div>
      <p>
        Nossa instituição conta com um restaurante localizado no polo central da instituição, com um serv-serice com várias opções para agradar todos os públicos.
      </p>
    </div>
  </div>
  <div id="container">

    <div>
      <img src="/assets/secretaria.jfif">
    </div>
    <div>
      <h5>Secretaria</h5>
    </div>
    <div>
      <p>Nossa secretária busca ajudar todos os nossos alunos da melhor forma possível, temos o antendimento online também, através do número: 00-0000-0000</p>
    </div>
  </div>
</div>

<h4 id="eAcademy">Quem Somos: E-ACADEMY</h4>
<img id="quemSomos" src="/assets/quemSomos.png">
